@import "colours";

.product-card {
  padding: 0.8rem;
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $form-background;

  .card-body {
    display: flex;
    flex-direction: column;
    .card-title {
      text-align: center;
      color: $secondary-text;
    }
    .card-text {
      text-align: center;
      color: $secondary-text;
    }
    .product-link {
      .card-image {
        border: $secondary-text;
      }
    }
  }
}
