$primary-background: rgb(73, 81, 89);
$primary-text: rgb(161, 232, 204);
$secondary-text: rgb(197, 222, 205);

$form-text: rgb(229, 98, 94);
$form-background: rgb(245, 245, 245);

$colour-splash: rgb(151, 146, 227);
